@model Treats.Models.Treat

<h2>Edit</h2>

<h3>Edit this Treat: @Html.DisplayFor(model => model.Name)</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    <p>
    @Html.LabelFor(model => model.Name): 
    @Html.EditorFor(model => model.Name)
    </p>

    <input type="submit" value="Save" class="btn btn-info" />
}

<p>@Html.ActionLink("Back to Treats", "Index")</p>