@using Treats.Models
@model Treats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Flavor does not belong to any Treats</p>
}
else
{
  <h4>Treats that have this Flavor:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Treat.Name</li>
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        @Html.Hidden("flavorId", @Model.FlavorId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Treat to this flavor", "AddTreat", new { id = Model.FlavorId })</p>
<hr />
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to Flavor list", "Index")</p>